@font-face {
    font-family: 'Nexa';
    src: url('../assets/fonte/nexa/Nexa-Heavy.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Nexa', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    color: #D3D3D3;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    border-bottom: 1px solid #ccc;
}

.coins, .time {
    font-size: 20px;
    font-weight: 700;
}

.title {
    font-size: 20px;
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
    font-weight: 300;
}

main {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}

.container {
    text-align: center;
}

.pet-image {
    width: 250px;
    height: auto;
    margin: 20px 0;
}

.divider {
    width: 80%;
    border: 0;
    border-top: 1px solid #6A0DAD;
    margin: 20px auto;
}

.status-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.status-bar label {
    font-weight: 700;
    margin-right: 10px;
}

.bar {
    width: 70%;
    height: 30px;
    border: 1px solid #6A0DAD;
    background-color: #2E2E2E;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.bar .progress {
    height: 100%;
    width: 100%;
    background-color: #6A0DAD;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    text-align: center;
    z-index: 10;
}

footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .my-icon {
    width: 50px;
    height: auto;
    filter: invert(100%);
}

@media (max-width: 600px) {
    footer .my-icon {
        width: 40px;
    }
}
