/* Importando as fontes Nexa */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/fonte/nexa/Nexa-Heavy.ttf') format('truetype');
    font-weight: 700;
}

/* Reset básico para remover margens e preenchimentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Nexa', Arial, sans-serif; /* Fonte principal */
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C; /* Fundo preto/cinza escuro */
    color: #D3D3D3; /* Texto em cinza claro */
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    border-bottom: 1px solid #ccc;
}

.coins, .time {
    font-size: 20px;
    font-weight: 700; /* Fonte pesada */
}

.title {
    font-size: 20px;
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
    font-weight: 300; /* Fonte leve */
}

main {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
    overflow-y: auto; /* Permitir rolagem vertical */
    margin-bottom: 60px; /* Espaço extra para o footer */
}

.progress-bar {
    width: 70%;
    margin: 20px auto;
    height: 30px;
    background-color: #ddd;
    position: relative;
    border-radius: 5px;
}

.progress {
    background-color: #6A0DAD; /* Roxo */
    height: 100%;
    border-radius: 5px;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.task-summary {
    margin: 20px auto;
    font-size: 18px;
}

.task-category {
    margin: 20px auto;
    width: 70%;
    text-align: left;
}

.task-category h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #fff;
}

.easy-category h2 {
    background-color: #4CAF50; /* Verde */
    padding: 10px;
    border-radius: 5px;
}

.medium-category h2 {
    background-color: #FFC107; /* Amarelo */
    padding: 10px;
    border-radius: 5px;
}

.hard-category h2 {
    background-color: #F44336; /* Vermelho */
    padding: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #2E2E2E; /* Cinza escuro */
    color: #D3D3D3; /* Texto em cinza claro */
}

.voltar {
    margin-top: 20px;
    margin-bottom: 20px; /* Espaço extra para garantir que o botão esteja visível */
}

.success-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6A0DAD; /* Roxo */
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.success-button:hover {
    background-color: #5a0dab;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    text-align: center;
    z-index: 10;
}

footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .my-icon {
    width: 50px;
    height: auto;
    filter: invert(100%); /* Torna os ícones brancos */
}

@media (max-width: 600px) {
    footer .my-icon {
        width: 40px;
    }
}
